@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}

.header{
    padding: 10px;
    background-color: rgb(9, 10, 10);
    text-align: center;
    color: red;
}

.paragraph{
    background-color: rgb(9, 97, 173);
    margin-left: 20px;
    color: black;
}

.link a {
    color: black;
}

.link {color: black}

.list-head {
    margin-left: 525px;
    width: 300px;
    text-align: center;
    color: green;
    background-color: blanchedalmond;
    border: 1px black solid;
}
.unorder-list{
    text-align: center;
}
.Order-list{
    text-align: center;
}
.descript-list {
    text-align: center;
}
.image img {
    margin-left: 300px;
    display: flex;
    flex-direction: row;
}
.table{
    margin: 250px;
}
.table-head{
    background-color: blue;
}
.table-header{
    margin-left: 100px;
    text-align: center;
}
.button{
    text-align: center;
}
.form1{
    margin-top: 50px;
    margin-left: 300;
}
.send {
    margin-left: 190px;
    margin-top: 20px;
}
.form2 {
    margin-top: 50px;
    margin-left: 300px;
}
.html {
    margin-top: 50px;
    margin-left: 300px;
}
.map {
    margin-top: 50px;
    margin-left: 100px;
}

.yt {
    margin-top: 50px;
    margin-left: 100px;
}
.media{
    background-color: aqua;
    text-align: center;
}
.footer{
    margin: 0;
    padding: 10;
    background-color: rgb(6, 6, 103);
}
.footer p {
    color: aliceblue;
    text-align: center;
}